* {
  padding: 0px;
  margin: 0px;
  /* border: solid 1px; */
}
body {
  --tw-bg-opacity: 1;
  background-color: rgb(20 20 20 / var(--tw-bg-opacity)) !important;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer{
  background-color: #333;
  color: white;
  text-align: center;
}
.clr {
  background-color: rgb(20 20 20) !important;
}
.main-nav {
  background-image: url(../img/1.svg);
  /* background-repeat: no-repeat; */
  background-size: cover;
  --tw-border-opacity: 1;
  border-bottom: solid 1px rgb(38 38 38) !important;
  align-items: center;
  display: flex;
}

.ndiv {
  background-color: rgb(20 20 20 / var(--tw-bg-opacity)) !important;
  text-align: -webkit-center;
  padding: 5px;
  margin: 20px auto;
  border-radius: 40px;
  border: solid rgb(34 34 34);
  overflow: hidden;
}
ul {
  margin: 0 !important;
  padding: 0 !important;
}
ul li {
  list-style: none;

  padding: 8px;
  display: inline-block;
}
ul li a {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1.2rem;
}
.search {
  background-color: 2px rgb(20 20 20 / var(--tw-bg-opacity)) !important;
  border: solid rgb(34 34 34) !important;
  color: rgb(255 255 255) !important;
}
::placeholder {
  color: rgb(255 255 255) !important;
  opacity: 1; /* Firefox */
}
.byCat {
  background-color: 2px rgb(20 20 20 / var(--tw-bg-opacity)) !important;
  border: solid rgb(34 34 34) !important;
  color: rgb(255 255 255) !important;
}
.byCat option {
  color: rgb(34 34 34) !important;
}
#sizes{
  text-align: center;
}
label {
  margin-right: 10px;
  margin-left: 3px;
}

.show {
  transition: display 3s !important;
}

p {
  margin-bottom: 2px;
}
p > span {
  font-weight: bold;
}
.border {
  border: solid rgb(34 34 34) !important;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(250, 250, 250, 0.1);
  color: #fff;
  overflow: hidden !important;
  height: auto;
  background-color: rgb(20 20 20 / var(--tw-bg-opacity)) !important;

  padding: 15px;
}
.box-iteam {
  padding: 0px 20px 40px 20px;
  text-align: left;
}

.border:hover {
  box-shadow: 0 1px 3px 0px rgba(255, 255, 255, 0.904),
    0px 5px 23px 0 rgba(136, 134, 134, 0.669);
  /* cursor: pointer; */
}

.itemImg {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

.p-grid-item {
  display: flex;
  flex-wrap: wrap;
  margin: auto !important;
  text-align: center !important;
  justify-content: center !important;
}

.p-item-title {
  text-align: left !important;
  padding-top: 10px;
  font-size: 13px;
  font-weight: bold;
  width: 75%;
}
.p-item-Cat {
  text-align: left !important;
  color: #40a7a8;
  border: 1px solid rgb(38 38 38);
  border-radius: 40px;
  display: inline-block;
  padding: 5px 10px 5px 10px;
  background-color: rgb(22, 22, 22);
}

.p-item-desc,
.p-item-price {
  text-align: -webkit-left;
  overflow-wrap: anywhere;
}
.p-item-desc {
  padding: 5px;
  margin-top: 10px;
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 5px 23px 0 rgba(0, 0, 0, 0.19);
}
.sub-btn {
  margin: auto;
  width: 80%;
  position: absolute;
  bottom: 16px;
  left: 26px;
  background-color: rgb(38 38 38) !important;
  border-radius: 10px !important;
}
.sub-btn:hover{
  background-color: rgb(34, 33, 33) !important;
}
.hide {
  display: none !important;
}
.notfounddiv{
  text-align: center;
  color: #fff;
  display: none;
}
.notfound{
  width: 200px; 
  height: 200px;
}

/*  ------------------------- Products Page -------------- */
.pSection {
  flex: 1;
}

.containt {
  position: relative;
  padding: 10px 20px 20px 20px;
  
}
.containtdiv{
  color: aliceblue;
}
.back{
  font-size: 12px;
  display: flex;
    flex-direction: row-reverse;

    color: #fff;
}
.back a{
  text-decoration: none !important;
  color: #fff;
  border: solid 1px;
  border-radius: 20px;
  padding: 5px 17px;
}
/* .imgs {
  width: 100px !important;
  height: 100px !important;
  padding: 5px;
} */
.pimgsdiv{
  display: flex;
  text-align: center;
  align-content: space-around;
  align-items: baseline;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.pimgs {
  width: 95%;
  /* height: 300px; */
}
.headcolor{
  color: #b1b0b0;
}